
<ul class="accountant-companies-list">
<% %>
  <li class="box">
    <div class="columns">
      <div class="column">
        <h1>Brasil Foods Ind. e Com. de alimentos Ltda (Divinna Pizza)</h1>
        <h2>
          <b>CNPJ:</b> 27.542.784/0001-35
        </h3>
      </div>
      <div class="column is-1 item-action">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <span class="btn">...</span>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                Notas fiscais
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
