<table class="table is-fullwidth sub-products-table">
  <thead>
    <tr>
      <th class="table-button"></th>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Preço</th>
    </tr>
  </thead>
</table>
