.git
.gitignore
log/*
tmp/*
*.swp
*.swo
*.swn

config/initializers/secret_token.rb
aws_deploy.sh
public/assets/*
/storage
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
.docker-compose.tar.gz
build-semaphore-compose.sh
