<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @fabrication.month %>
</p>

<%= link_to 'Edit', edit_fabrication_path(@fabrication) %> |
<%= link_to 'Back', fabrications_path %>
