<table class="table is-fullwidth costs-table">
  <thead>
    <tr>
      <th class="table-button"></th>
      <th>Ingrediente</th>
      <th>Unidade</th>
      <th>Quantidade</th>
      <th>Preço</th>
      <th>Quantidade Usada</th>
      <th>Custo</th>
    </tr>
  </thead>
</table>
