// Place all the styles related to the product_costs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.costs-table th{
  text-align: center !important;
  width: 15.277777777% !important;
}

.costs-table th.table-button {
  width: 8.33333333% !important;
}

.nested-fields {
  margin-bottom: 0 !important;
}
