// Place all the styles related to the spendings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sub-products-table th{
  text-align: center !important;
  width: 15.277777777% !important;
}

.sub-products-table th.table-button {
  max-width: 8.3333333333% !important;
}
.sub-products-table th {
  width: 30.55555555555555555555555555% !important;
}

#sub_products .links {
  margin-top: 30px !important;
}
